<% content_for :meta_tags do %>
  <%= render MetaTagsComponent.new(meta_robots_index: false,
                                   meta_robots_follow: false,
                                   meta_title: "un Van de nomades",
                                   meta_description: "Un site de passion",
                                   meta_type: "Website",
                                   meta_image: nil) %>
<% end %>

<div class="pt-20 grid">
  <% @categories.each do |category| %>
    <%= link_to category.name, category_path(category.slug) %>
  <% end %>
</div>
