<div>
  <ul>
    <% @posts.each do |post| %>
      <li>
        <%= post.title %> -
        <%= link_to "Editer", edit_admin_post_path(post.id) %> -
        <%= link_to "Supprimer",
                    admin_post_path(post.id),
                    :data => { confirm: "Etes vous sur de vouloir supprimer cet article ?" },
                    method: :delete %> -
        <%= link_to "Voir", post_path(post.id) %>
      </li>
    <% end %>
  </ul>
</div>