<div class="grid bg-blue-200">
  <h1><%= @category.name %></h1>
  <p><%= @category.description %></p>
</div>
<div class="grid bg-gray-400">
  <% @category.sub_categories.each do |sub_category| %>
    <h2><%= link_to sub_category.name, sub_category_path(sub_category.slug) %></h2>
  <% end %>
</div>

